.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fcfcfd;
  justify-content: space-around;
}
.box ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.box ul li {
  marign: 30px;
  padding: 20px;
}
